.form-inline .form-control {
    width: 100%;
}
.flowimg {
	width: auto;
	height: auto;
	border-style: solid;
	border-width: 1px;
}

#bactrianflow, #cocktailflow, #dromedaryflow, #descendflow, #ascendflow {
	width:auto;
	height: auto;
}

#pagenextid {
	margin-top:10%;
}

#chooseagain {
	margin-top:1%;
	margin-bottom: :1%;
}

.priorityresult {
	display: none;
}

#flowtitle {
	margin-bottom: 1%;
	margin-top: 2%;
}

