.form-inline .form-control {
    width: 100%;
}
#flowimg {
	width: auto;
	height: auto;
	border-style: solid;
	border-width: 1px;
}

#bactrianflow, #cocktailflow, #dromedaryflow, #descendflow, #ascendflow, #dromedaryselect, #descendselect, #ascendselect {
	width:auto;
	height: auto;
}

#pageid {
	margin-top:8%;
}

#dromedaryselect, #descendselect, #ascendselect {
	margin-top: 1%;
	height: 5%;
}

#chooseagain {
	margin-top:1%;
}

.priorityresult {
	display: none;
}

#flowtitle {
	margin-bottom: 1%;
	margin-top: 2%;
}
